// Here you can add other styles
.sidebar-brand {
    .sidebar-brand-logo {
        width: 24% !important;
        height: auto;
        float: right;
        margin-right: 1rem;
        margin-left: -1rem;
    }

    .sidebar-brand-title {
        font-weight: 700;
    }
}